on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/github-script@main
      with:
        script: |
          core.setFailed("ups");
          return;
    - run: echo "done"
